<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('includes/head', {title: 'Platform' , description: 'A basic signup and login site' }) %>
        <link rel="stylesheet" href="styles/index.css">
</head>

<body>
    <h1>Welcome</h1>
    <a href="/signup">Sign Up</a>
    <a href="/login">Login</a>
</body>

</html>